### Nama : Hudzaifah Alqarani
### NIM  : 2109106089
### POSTEST 2 KB

#### import pandas dan dataset

In [1]:
import pandas as pd

dataset= pd.read_csv("Drug_clean.csv")

#### tampilkan isi dataset

In [6]:
dataset

,Condition,Drug,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction,Type
0,Acute Bacterial Sinusitis,Amoxicillin,3.852353,3.655882,Capsule,On Label,12.590000,86.294118,3.197647,RX
1,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.470000,3.290000,Liquid (Drink),Off Label,287.370000,43.000000,2.590000,RX
2,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.121429,2.962857,Tablet,On Label,70.608571,267.285714,2.248571,RX
3,Acute Bacterial Sinusitis,Ampicillin,2.000000,3.000000,Capsule,On Label,12.590000,1.000000,1.000000,RX
4,Acute Bacterial Sinusitis,Ampicillin,3.250000,3.000000,Tablet,On Label,125.240000,15.000000,3.000000,RX
...,...,...,...,...,...,...,...,...,...,...
680,vulvovaginal candidiasis,Miconazole Nitrate,3.465000,2.770000,Cream,On Label,13.990000,19.500000,2.345000,RX/OTC
681,vulvovaginal candidiasis,Miconazole-Skin Clnsr17,4.750000,3.000000,Cream,On Label,13.990000,4.000000,3.000000,OTC
682,vulvovaginal candidiasis,Miconazole-Skin Clnsr17,4.000000,1.000000,Other,On Label,125.990000,1.000000,1.000000,OTC
683,vulvovaginal candidiasis,Terconazole,3.525000,3.047500,Cream,On Label,68.990000,20.000000,2.717500,RX
684,vulvovaginal candidiasis,Tioconazole,3.852500,2.022500,Other,On Label,22.990000,145.000000,1.827500,OTC

#### 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [7]:
dataset.describe()

        EaseOfUse   Effective         Price      Reviews  Satisfaction
count  685.000000  685.000000    685.000000   685.000000    685.000000
mean     3.920038    3.523530    174.211183    82.644410      3.195699
std      0.894212    0.954126    667.743466   273.281398      1.030442
min      1.000000    1.000000      4.000000     1.000000      1.000000
25%      3.556667    3.000000     15.490000     3.000000      2.575000
50%      4.050000    3.600000     49.990000    10.350877      3.200000
75%      4.500000    4.110000    145.990000    57.000000      3.901250
max      5.000000    5.000000  10362.190000  4647.000000      5.000000

#### 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [8]:
dataset.select_dtypes(include=['number']).head(10)

   EaseOfUse  Effective       Price     Reviews  Satisfaction
0   3.852353   3.655882   12.590000   86.294118      3.197647
1   3.470000   3.290000  287.370000   43.000000      2.590000
2   3.121429   2.962857   70.608571  267.285714      2.248571
3   2.000000   3.000000   12.590000    1.000000      1.000000
4   3.250000   3.000000  125.240000   15.000000      3.000000
5   3.000000   3.000000  143.215000    1.000000      3.000000
6   4.091667   3.341667   32.100000  490.000000      2.758333
7   3.582000   3.458000   99.490000  141.600000      2.780000
8   2.895000   3.255000  125.240000   41.000000      2.510000
9   2.944444   3.277778  332.630000    3.666667      3.222222

#### 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [9]:
jumlah_seluruh_record = len(dataset)
jumlah_seluruh_attribute = len(dataset.columns)
nama_attribute = list(dataset.columns)
attribute_angka = len( dataset.select_dtypes(include=['number']).columns)
dictionary = {
    'Jumlah record' : jumlah_seluruh_record,
    'Jumlah seluruh attribute' : jumlah_seluruh_attribute,
    'nama - nama attribute' : nama_attribute,
    'Jumlah attribute dengan tipe angka' : attribute_angka
}
for key, value in dictionary.items():
    print(f'{key} : {value}')

Jumlah record : 685
Jumlah seluruh attribute : 10
nama - nama attribute : ['Condition', 'Drug', 'EaseOfUse', 'Effective', 'Form', 'Indication', 'Price', 'Reviews', 'Satisfaction', 'Type']
Jumlah attribute dengan tipe angka : 5

#### 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice

In [10]:
dataset.loc[89:, dataset.columns[3:]]

,Effective,Form,Indication,Price,Reviews,Satisfaction,Type
89,4.000000,Liquid (Drink),On Label,184.99,1.000000,4.000000,RX
90,3.750000,Tablet,On Label,172.99,2.500000,4.000000,RX
91,3.470000,Liquid (Drink),On Label,149.99,62.500000,2.790000,RX
92,1.000000,Cream,Off Label,47.99,2.000000,1.000000,RX
93,2.333333,Liquid (Drink),Off Label,59.74,1.333333,2.333333,RX
...,...,...,...,...,...,...,...
680,2.770000,Cream,On Label,13.99,19.500000,2.345000,RX/OTC
681,3.000000,Cream,On Label,13.99,4.000000,3.000000,OTC
682,1.000000,Other,On Label,125.99,1.000000,1.000000,OTC
683,3.047500,Cream,On Label,68.99,20.000000,2.717500,RX
684,2.022500,Other,On Label,22.99,145.000000,1.827500,OTC

#### 5. Tampilkan jumlah label dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).

In [11]:
attribute_object = dataset.select_dtypes(include=['object']).columns.tolist()
for i in attribute_object :
    print(dataset[i].value_counts())

hypertension                                 101
Atopic Dermatitis                             67
fever                                         64
gastroesophageal reflux disease               54
Bacterial Urinary Tract Infection             53
hypercholesterolemia                          32
hemorrhoids                                   31
gout                                          31
endometriosis                                 19
Pharyngitis due to Streptococcus Pyogenes     19
back pain                                     17
diverticulitis of gastrointestinal tract      16
Bacterial Conjunctivitis                      16
flatulence                                    15
depression                                    15
edema                                         15
prevention of cerebrovascular accident        14
Acute Bacterial Sinusitis                     14
vertigo                                       13
fibromyalgia                                  12
vulvovaginal candidiasis                      10
adenocarcinoma of pancreas                     8
sore throat                                    8
impetigo                                       5
herpes zoster                                  4
scabies                                        4
genital herpes simplex                         4
furunculosis                                   4
chickenpox                                     3
oral candidiasis                               3
Infantile Autism                               3
biliary calculus                               2
Sleepiness Due To Obstructive Sleep Apnea      2
meniere's disease                              2
Influenza                                      2
pyelonephritis                                 2
colorectal cancer                              1
Name: Condition, dtype: int64
Niacin                         8
Naproxen Sodium                7
Hydrocortisone                 7
Ibuprofen                      6
Amoxicillin-Pot Clavulanate    5
                              ..
Ampicillin-Sulbactam           1
Protriptyline                  1
Phenelzine                     1
Maprotiline                    1
Tioconazole                    1
Name: Drug, Length: 470, dtype: int64
Tablet             300
Liquid (Drink)     119
Cream               90
Capsule             73
Liquid (Inject)     57
Other               46
Name: Form, dtype: int64
On Label     548
Off Label    129
\r\r\n         8
Name: Indication, dtype: int64
RX        484
OTC       168
RX/OTC     28
\r\r\n      5
Name: Type, dtype: int64